@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500,700");
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
}

.admin #private-header > .row .logout-container a.logout:before,
.admin #content #main-menu ul li:nth-child(1) a:before,
.admin #content #main-menu ul li:nth-child(2) a:before,
.admin #content #main-menu ul li:nth-child(3) a:before,
.admin #content #main-menu ul li:nth-child(4) a:before,
.admin #content #main-menu .new-project form h2.edit-title span:after,
.admin #content #main-menu .edit-project form h2.edit-title span:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 50px;
  background-size: contain;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-1 .dashboard-link,
.admin #content .dashboard-main .dashboard-main-inner .unit-2 .dashboard-link,
.admin #content .dashboard-main .dashboard-main-inner .unit-3 .dashboard-link {
  background-color: #192c33;
  color: #2bb673;
  padding: 40px 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0px 20px;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-1 .dashboard-link img,
.admin #content .dashboard-main .dashboard-main-inner .unit-2 .dashboard-link img,
.admin #content .dashboard-main .dashboard-main-inner .unit-3 .dashboard-link img {
  display: block;
  width: 100%;
  height: 75px;
  position: relative;
  margin-bottom: 20px;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-1 .dashboard-link img:before,
.admin #content .dashboard-main .dashboard-main-inner .unit-2 .dashboard-link img:before,
.admin #content .dashboard-main .dashboard-main-inner .unit-3 .dashboard-link img:before {
  content: "";
  left: 30px;
  top: -15px;
  position: absolute;
  width: 75px;
  height: 100px;
  background-size: contain;
}

.admin #content #main-menu ul li:nth-child(1) a,
.admin #content #main-menu ul li:nth-child(2) a,
.admin #content #main-menu ul li:nth-child(3) a,
.admin #content #main-menu ul li:nth-child(4) a {
  position: relative;
  padding-left: 50px;
  color: #6d6e71;
}

.admin #content #main-menu .toggle img,
.admin #content #main-menu .toggle i {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: 1s all ease;
}

/* Eric Meyer CSS reset begins */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Eric Meyer CSS reset ends */

/*


                    MAIN STYLING BEGINS


*/

body {
  background-image: url("../images/dark_wall.png");
  padding-top: 70px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 20px;
  background-color: #bebebe;
  text-align: center;
  padding: 10px;
}

h3 a {
  text-decoration: none;
  color: black;
}

h5 {
  font-size: 36px;
  background-color: #c4c4c4;
  padding: 10px;
}

img {
  max-width: 100%;
}

#top {
  height: 30px;
}

.show {
  display: block !important;
}

/*



                    NAV STYLING BEGINS


*/

#site-header {
  background-color: #151414;
  height: 70px;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  line-height: 60px;
  border-bottom: 5px solid #b7c2d6;
}

#site-title {
  float: left;
  font-size: 24px;
  margin-left: 30px;
  margin-top: -5px;
}

#site-title a {
  text-decoration: none;
  /* line-height: 70px; */
  /* margin-left: 0px; */
  color: #fff;
}

#site-title img {
  height: auto;
  width: 48px;
  margin-top: 15%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#site-title img:hover {
  filter: brightness(70%);
}

#site-nav {
  float: right;
}

#site-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  line-height: 70px;
  display: block;
  padding: 0 30px;
  border-left: solid 1px #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#site-nav a:hover {
  color: #428fd4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#site-nav li {
  display: inline-block;
}

#site-nav > a span {
  display: none;
}

#linked-logo {
  width: 38px !important;
  padding-bottom: 5px;
}

#github-logo {
  margin-bottom: 5px;
}

/*



                    MAIN CONTENT STYLING BEGINS


*/

main {
  width: 100%;
  margin: 0 auto;
  background-color: #293744;
  /*    min-height: 1250px;*/
  margin-top: 40px;
  margin-bottom: 70px;
  padding: 30px 0px;
  overflow: hidden;
}

#call-to-action {
  font-size: 4rem;
  font-weight: 500;
}

#contact-wrapper {
  margin: 0 auto;
}

#content-heading {
  display: none;
}

#content-heading h2 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Francois One', sans-serif;
  background-color: black;
  padding: 40px;
}

.sample-projects,
#contact-text h1,
#contact-main,
#contact-desc {
  display: none;
}

#project-list {
  /*    width: 90%;*/
  margin: 0 auto;
}

#project-list #project-row1,
#project-list #project-row2 {
  max-width: 100%;
  height: 300px;
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
}

#project-list #project-row2 {
  margin-top: 100px;
}

/*
#project-hover {
    background-color: aqua;
    height: 200px;
}
*/

.sample-projects {
  text-align: center;
  background-color: #6a7474;
  float: left;
  outline: 5px solid black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sample-projects a {
  text-decoration: none;
  color: black;
}

.sample-projects img {
  outline: 5px solid black;
}

.sample-projects h3 {
  font-weight: 700;
  font-size: 140%;
  background-color: lightslategray;
  font-family: 'Roboto', sans-serif;
}

.sample-projects h4 {
  padding: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.sample-projects:hover {
  filter: brightness(150%);
}

#contact-text {
  padding: 5%;
  color: azure;
}

#contact-desc {
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 30px;
}

#contact-desc h2 {
  padding-bottom: 20px !important;
  font-size: 2rem;
  line-height: 1;
  font-weight: 100;
  padding: 0px 20px;
}

#contact-desc p {
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-weight: 100;
  padding: 0px 20px;
  line-height: 1.4;
}

#contact-main {
  /*    height: 900px;*/
  background-color: aliceblue;
  outline: 15px solid black;
  float: left;
  padding: 0px 20px;
  margin: 5%;
  width: 80%;
}

#contact-main p {
  margin-top: 30px;
  padding: 10px;
  background-color: #c4c4c4;
}

.grecaptcha-badge {
  top: 50%;
  z-index: 999;
}

/*



                    FOOTER STYLING BEGINS



*/

footer {
  background-color: #151414;
  border-top: 5px solid #b7c2d6;
  color: #fff;
  padding: 40px;
  text-align: center;
  clear: both;
  position: relative;
}

footer #footer-wrapper h4 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

@media (min-width: 450px) {
  footer #footer-wrapper h4 {
    font-size: 1rem;
  }
}

footer #footer-wrapper p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

section {
  float: left;
  margin: 10px;
  max-height: 100%;
  padding: 10px;
  width: 30%;
}

section h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

section p {
  line-height: 20px;
}

/* 


                    SCROLL TO TOP 


*/

#goUp {
  position: fixed;
  width: 64px;
  height: auto;
  right: 20px;
  bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .offcanvas-collapse {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 35px;
    overflow-y: auto;
    background-color: #393e46;
    transition: -webkit-transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(calc(-100% - 1rem));
    transform: translateX(calc(-100% - 1rem));
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }

  .nav-open {
    border: 3px solid #fff;
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 999;
    background-color: #11232B;
  }
}

button.close-btn {
  max-width: 50px;
}

/*



                    RESPONSIVE STYLING



*/

@media screen and (min-width: 1501px) {
  .sample-projects {
    width: 23%;
    margin: 1%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .sample-projects {
    width: 31.33%;
    margin: 1%;
  }
}

@media screen and (max-width: 875px) {
  .sample-projects h3 {
    font-size: 120%;
  }
}

@media screen and (max-width: 768px) {
  /* #menu is the original menu */

  #menu {
    display: none;
  }

  #show-menu {
    display: block;
  }

  /* Nav position after hitting this size*/

  #site-nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #293744;
  }

  /* Where you want the Nav to finally position after clicking the Hamburger Menu*/

  #site-nav:target {
    left: 0;
    bottom: 0;
  }

  #site-nav::before {
    content: none;
  }

  #show-menu,
  #hide-menu {
    position: absolute;
    width: 40px;
    height: 32px;
    top: 20px;
    right: 15px;
    /* include borders in the width and height */
    box-sizing: border-box;
  }

  /* first and third menu lines */

  #show-menu {
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
  }

  /* second menu line */

  #show-menu::before {
    content: '';
    display: block;
    width: 100%;
    border-top: solid 5px #fff;
    position: relative;
    top: 9px;
  }

  /* Set hide menu to default display none */

  #site-nav #hide-menu {
    display: none;
  }

  #site-nav a {
    padding: 0;
    border-left: none;
    -webkit-transition: none;
    transition: none;
  }

  /* Hide text in button */

  #site-nav > a span {
    display: none;
  }

  /* first and second menu lines for hide menu */

  #hide-menu::before,
  #hide-menu::after {
    content: '';
    width: 100%;
    display: block;
    border-top: solid 5px #fff;
    -webkit-transform-origin: 0 2px;
    transform-origin: 0 2px;
    -webkit-transform: translate(8px, 0) rotate(45deg);
    transform: translate(8px, 0) rotate(45deg);
    animation-name: spin;
    animation-duration: 0.4s;
  }

  /* second menu line for hide menu */

  #hide-menu::after {
    position: relative;
    top: 24px;
    -webkit-transform-origin: 0 2;
    transform-origin: 0 2;
    -webkit-transform: translate(8px, 0) rotate(-45deg);
    transform: translate(8px, 0) rotate(-45deg);
  }

  #site-nav ul {
    word-spacing: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #site-nav li {
    display: block;
    text-align: center;
    float: none;
    padding-bottom: 5px;
    border-bottom: 5px solid #000;
  }

  #site-nav li:last-child {
    display: block;
    text-align: center;
    border-bottom: none;
  }

  /* SLIDING IN ANIMATION */

  #site-nav:target {
    animation-name: fade-in;
    animation-duration: 0.5s;
  }

  #site-nav:target ul {
    display: block;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  #site-nav:target li {
    animation: slide-in 0.25s ease-in 1 backwards;
  }

  #site-nav:target li:nth-child(2) {
    animation-delay: 0.25s;
  }

  #site-nav:target li:nth-child(3) {
    animation-delay: 0.5s;
  }

  /* Removes Show Menu from browser */

  #site-nav:target #show-menu {
    display: none;
  }

  /* Replaces Show menu with Hide Menu*/

  #site-nav:target #hide-menu {
    display: block;
  }

  textarea {
    width: 95%;
  }

  #contact-main {
    padding: 0px;
  }

  #project-list {
    width: 100%;
  }

  input[type="text"] {
    width: 90%;
  }

  #contact-desc {
    width: 100%;
  }

  .contact-bio {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .sample-projects {
    width: 45%;
    margin: 2.5%;
  }
}

@media screen and (min-width: 475px) and (max-width: 550px) {
  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  #call-to-action {
    font-size: 2.4rem;
  }

  #contact-desc {
    font-size: 1rem;
  }

  #contact-main {
    width: 90%;
    margin-bottom: 40px;
  }

  #close-button {
    width: 24px;
  }

  .sample-projects h4 {
    font-size: 1rem;
  }

  #success h2 {
    font-size: 1.5rem;
    margin-left: -30%;
  }

  #success p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  #call-to-action {
    font-size: 2.8rem;
  }

  #contact-desc p {
    font-size: 1.3rem;
  }

  footer {
    font-size: 12px;
  }

  #footer-wrapper {
    width: 100%;
  }

  .sample-projects {
    width: 90%;
    margin: 5%;
  }
}

/*

                ANIMATIONS

*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    -webkit-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes slide-in {
  from {
    transform: translate(500px, 0);
  }
}

body.admin header {
  text-align: center;
}

body.admin header nav li {
  display: inline;
}

body.admin .welcome {
  color: #fff;
  text-align: center;
}

body.admin #content h2 {
  color: #fff;
}

body.admin #content form label {
  color: #fff;
}

body.admin #content form input[type="submit"] {
  cursor: pointer;
}

body.admin #content .sample-projects input[type="submit"] {
  cursor: pointer;
}

.admin {
  padding-top: 0px;
}

.admin #top {
  height: 0px;
}

.admin #private-header {
  background-color: #414042;
}

.admin #private-header > .row {
  padding: 40px 0px;
}

.admin #private-header > .row .welcome {
  color: #fff;
}

@media (min-width: 600px) {
  .admin #private-header > .row .welcome {
    text-align: left;
  }
}

.admin #private-header > .row .welcome .icon {
  display: inline-block;
}

.admin #private-header > .row .welcome .icon img {
  width: 54px;
  border-radius: 50%;
}

.admin #private-header > .row .welcome .welcome-text {
  display: inline-block;
  position: relative;
  top: 15px;
}

.admin #private-header > .row .welcome .welcome-text span {
  font-family: "Open Sans", sans-serif;
}

.admin #private-header > .row .welcome .welcome-text span.welcome {
  font-style: italic;
  font-size: 0.9rem;
}

.admin #private-header > .row .welcome .welcome-text span.username {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.2;
}

@media (min-width: 600px) {
  .admin #private-header > .row .logout-container {
    text-align: right;
  }
}

.admin #private-header > .row .logout-container a {
  color: #2bb673;
}

.admin #private-header > .row .logout-container a.logout {
  position: relative;
  transition: all 0.5s ease;
  font-family: "Open Sans", sans-serif;
  top: 20px;
}

@media (min-width: 575px) {
  .admin #private-header > .row .logout-container a.logout {
    top: 30px;
  }
}

.admin #private-header > .row .logout-container a.logout:before {
  left: -50px;
  top: -15px;
  background: url("../images/logout.svg") no-repeat center;
}

.admin #private-header > .row .logout-container a.logout:hover {
  text-decoration: none;
  color: #fff;
}

.admin #content {
  background-color: #231f20;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 303px);
  font-family: "Open Sans", sans-serif;
}

.admin #content a.create-project {
  background-color: #2bb673;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 15px 40px;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.5s ease;
  position: relative;
  margin: 10px 0px 20px 0px;
}

@media (min-width: 1030px) {
  .admin #content a.create-project {
    margin: 0px 0px 0px 20px;
    bottom: 10px;
  }
}

.admin #content a.create-project:hover {
  text-decoration: none;
  background-color: #42d28d;
}

.admin #content .form-message-container #form-message button.close {
  margin-left: 30px;
}

@media (min-width: 1030px) {
  .admin #content #main-menu.contact {
    width: 70%;
  }
}

.admin #content #main-menu.contact h1 {
  line-height: 1.5;
  font-size: 1.75rem;
}

@media (min-width: 600px) {
  .admin #content #main-menu.contact h1 {
    font-size: 2rem;
  }
}

.admin #content #main-menu .navbar-expand-md {
  padding-right: 0px;
}

@media (min-width: 768px) {
  .admin #content #main-menu .navbar-expand-md {
    flex-flow: wrap;
  }
}

.admin #content #main-menu .navbar-expand-md .navbar-collapse {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .admin #content #main-menu .navbar-expand-md .navbar-collapse {
    display: block !important;
  }
}

.admin #content #main-menu h1 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.75rem;
}

@media (min-width: 600px) {
  .admin #content #main-menu h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1030px) {
  .admin #content #main-menu h1 {
    display: inline-block;
  }
}

.admin #content #main-menu h2 {
  color: #6d6e71;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  display: inline-block;
}

@media (min-width: 768px) {
  .admin #content #main-menu h2 {
    display: block;
  }
}

.admin #content #main-menu ul.close {
  display: inline-block;
}

@media (min-width: 768px) {
  .admin #content #main-menu ul.close {
    display: block;
  }
}

.admin #content #main-menu ul li {
  line-height: 5;
}

.admin #content #main-menu ul li.active a {
  color: #fff !important;
}

.admin #content #main-menu ul li:nth-child(1) a:hover {
  text-decoration: none;
  color: #fff;
}

.admin #content #main-menu ul li:nth-child(1) a:before {
  left: -5px;
  top: -15px;
  background: url("../images/logout.svg") no-repeat center;
}

.admin #content #main-menu ul li:nth-child(2) a:hover {
  text-decoration: none;
  color: #fff;
}

.admin #content #main-menu ul li:nth-child(2) a:before {
  left: -5px;
  top: -15px;
  background: url("../images/Rocket.svg") no-repeat center;
}

.admin #content #main-menu ul li:nth-child(3) a:hover {
  text-decoration: none;
  color: #fff;
}

.admin #content #main-menu ul li:nth-child(3) a:before {
  left: -5px;
  top: -15px;
  background: url("../images/document.svg") no-repeat center;
}

.admin #content #main-menu ul li:nth-child(4) a:hover {
  text-decoration: none;
  color: #fff;
}

.admin #content #main-menu ul li:nth-child(4) a:before {
  left: -5px;
  top: -15px;
  background: url("../images/eye.svg") no-repeat center;
}

.admin #content #main-menu ul li.dropdown ul {
  height: 0px;
  transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  opacity: 0;
}

.admin #content #main-menu ul li.dropdown ul.show {
  height: 100px;
  opacity: 1;
}

.admin #content #main-menu ul li ul.sub-menu li {
  line-height: 3;
  padding-left: 15px;
  text-transform: capitalize;
}

.admin #content #main-menu ul li ul.sub-menu li a:before {
  content: none;
}

.admin #content #main-menu #inner-project-list .project {
  margin-bottom: 30px;
}

.admin #content #main-menu #inner-project-list .project.row-view {
  width: 100%;
}

.admin #content #main-menu #inner-project-list .project.row-view .inner-title {
  width: 30%;
  float: left;
  height: 133px;
}

.admin #content #main-menu #inner-project-list .project.row-view .info {
  text-align: right;
  width: 70%;
  float: left;
  font-size: 0.7rem;
  padding: 20px;
}

@media (min-width: 600px) {
  .admin #content #main-menu #inner-project-list .project.row-view .info {
    padding: 25px 20px;
  }
}

@media (min-width: 768px) {
  .admin #content #main-menu #inner-project-list .project.row-view .info {
    padding: 20px;
  }
}

@media (min-width: 991px) {
  .admin #content #main-menu #inner-project-list .project.row-view .info {
    padding: 35px 20px;
    font-size: 0.8rem;
  }
}

@media (min-width: 1030px) {
  .admin #content #main-menu #inner-project-list .project.row-view .info {
    padding: 40px 20px;
    font-size: 1rem;
  }
}

.admin #content #main-menu #inner-project-list .project.row-view .info .main-info {
  text-align: left;
  display: inline-block;
  float: left;
}

.admin #content #main-menu #inner-project-list .project.row-view .info .edit {
  padding: 20px 20px 0px 0px;
}

.admin #content #main-menu #inner-project-list .project.row-view .info .clearfix {
  clear: both;
}

.admin #content #main-menu #inner-project-list .project.row-view a.edit img {
  width: 20px;
}

@media (min-width: 1030px) {
  .admin #content #main-menu #inner-project-list .project.row-view a.edit img {
    width: 30px;
  }
}

.admin #content #main-menu #inner-project-list .project.row-view .delete-project img {
  width: 20px;
}

@media (min-width: 1030px) {
  .admin #content #main-menu #inner-project-list .project.row-view .delete-project img {
    width: 30px;
  }
}

@media (min-width: 1030px) {
  .admin #content #main-menu #inner-project-list .project:nth-child(odd) {
    padding-left: 0px;
  }

  .admin #content #main-menu #inner-project-list .project:nth-child(even) {
    padding-right: 0px;
  }
}

.admin #content #main-menu #inner-project-list .project .info {
  background: #293744;
  padding: 20px;
}

.admin #content #main-menu #inner-project-list .project .inner-title {
  display: block;
}

.admin #content #main-menu #inner-project-list .project .main-info {
  color: #fff;
  margin-bottom: 10px;
}

.admin #content #main-menu #inner-project-list .project .main-info .status {
  width: 15px;
  display: inline-block;
  height: 15px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 3px;
}

.admin #content #main-menu #inner-project-list .project .main-info .status.active {
  background-color: #32ab40;
}

.admin #content #main-menu #inner-project-list .project .main-info .status.inactive {
  background-color: #f6881b;
}

.admin #content #main-menu #inner-project-list .project a {
  color: #fff;
  position: relative;
}

.admin #content #main-menu #inner-project-list .project a.edit {
  display: inline-block;
}

.admin #content #main-menu #inner-project-list .project a.edit img {
  width: 30px;
}

.admin #content #main-menu #inner-project-list .project .delete-project {
  display: inline-block;
}

.admin #content #main-menu #inner-project-list .project .delete-project img {
  width: 30px;
  cursor: pointer;
}

.admin #content #main-menu .status-legend > div {
  display: inline-block;
  color: #fff;
  margin-bottom: 15px;
}

.admin #content #main-menu .status-legend > div span {
  padding-left: 15px;
  font-style: italic;
  color: #6d6e71;
}

.admin #content #main-menu .status-legend > div .status {
  width: 15px;
  display: inline-block;
  height: 15px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 3px;
}

.admin #content #main-menu .status-legend > div .status.active {
  background-color: #32ab40;
}

.admin #content #main-menu .status-legend > div .status.inactive {
  background-color: #f6881b;
}

.admin #content #main-menu .toggle {
  position: absolute;
  top: -35px;
  right: 30px;
}

@media (min-width: 450px) {
  .admin #content #main-menu .toggle {
    top: 75px;
  }
}

@media (min-width: 991px) {
  .admin #content #main-menu .toggle {
    top: 10px;
  }
}

.admin #content #main-menu .toggle img {
  display: none;
}

.admin #content #main-menu .toggle i {
  font-size: 28px;
  color: #fff;
}

.admin #content #main-menu .toggle i:hover {
  color: gray;
}

.admin #content #main-menu .return a {
  color: #6d6e71;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 3;
  margin-left: 20px;
  transition: all 0.5s ease;
}

.admin #content #main-menu .return a:hover {
  text-decoration: none;
  color: #fff;
}

.admin #content #main-menu .return a i {
  font-size: 0.8rem;
  position: relative;
  bottom: 1px;
}

.admin #content #main-menu .contact-page-container form {
  background-color: #414042;
  border: 1px solid #fff;
  padding: 20px 40px;
}

.admin #content #main-menu .contact-page-container form label {
  color: #6d6e71;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  line-height: 2;
}

.admin #content #main-menu .contact-page-container form input,
.admin #content #main-menu .contact-page-container form textarea {
  border: none;
  border-radius: 3px;
  outline: 0px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
}

.admin #content #main-menu .contact-page-container form input::placeholder,
.admin #content #main-menu .contact-page-container form textarea::placeholder {
  color: #000;
  font-size: 1rem;
}

.admin #content #main-menu .contact-page-container form input[type="submit"] {
  background-color: #2bb673;
  font-size: 1rem;
  width: auto;
  padding: 12px 20px;
  position: relative;
  top: 10px;
  border-radius: 3px;
  float: right;
}

@media (min-width: 768px) {
  .admin #content #main-menu .contact-page-container form input[type="submit"] {
    padding: 12px 50px;
  }
}

.admin #content #main-menu .new-project form,
.admin #content #main-menu .edit-project form {
  background-color: #414042;
  border: 1px solid #fff;
  padding: 40px;
}

.admin #content #main-menu .new-project form h2,
.admin #content #main-menu .edit-project form h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
}

.admin #content #main-menu .new-project form h2.edit-title span,
.admin #content #main-menu .edit-project form h2.edit-title span {
  position: relative;
}

.admin #content #main-menu .new-project form h2.edit-title span:after,
.admin #content #main-menu .edit-project form h2.edit-title span:after {
  right: -60px;
  top: -4px;
  background: url("../images/remove.svg") no-repeat center;
}

.admin #content #main-menu .new-project form .custom-file-input,
.admin #content #main-menu .edit-project form .custom-file-input {
  cursor: pointer;
}

.admin #content #main-menu .new-project form label,
.admin #content #main-menu .edit-project form label {
  color: #6d6e71;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  line-height: 2;
}

.admin #content #main-menu .new-project form label.custom-file-label:after,
.admin #content #main-menu .edit-project form label.custom-file-label:after {
  color: #fff;
  border-radius: 0px 3px 3px 0px;
  background: #1f95ea;
  content: "+ Upload" !important;
}

.admin #content #main-menu .new-project form label.custom-file-label.remove:after,
.admin #content #main-menu .edit-project form label.custom-file-label.remove:after {
  color: #fff;
  border-radius: 0px 3px 3px 0px;
  background: #c70000;
  content: "Remove" !important;
}

.admin #content #main-menu .new-project form input,
.admin #content #main-menu .new-project form textarea,
.admin #content #main-menu .edit-project form input,
.admin #content #main-menu .edit-project form textarea {
  border: none;
  border-radius: 3px;
  outline: 0px;
  width: 100%;
  max-height: 100px;
  margin-bottom: 20px;
}

.admin #content #main-menu .new-project form .switch,
.admin #content #main-menu .edit-project form .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.admin #content #main-menu .new-project form .switch input,
.admin #content #main-menu .edit-project form .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.admin #content #main-menu .new-project form .switch input:checked + .slider,
.admin #content #main-menu .edit-project form .switch input:checked + .slider {
  background-color: #2bb673;
}

.admin #content #main-menu .new-project form .switch input:checked + .slider:before,
.admin #content #main-menu .edit-project form .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.admin #content #main-menu .new-project form .switch .slider.round,
.admin #content #main-menu .edit-project form .switch .slider.round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.admin #content #main-menu .new-project form .switch .slider.round:before,
.admin #content #main-menu .edit-project form .switch .slider.round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

@media (min-width: 475px) {
  .admin #content #main-menu .new-project form #operations,
  .admin #content #main-menu .edit-project form #operations {
    display: flex;
    justify-content: space-between;
  }
}

.admin #content #main-menu .new-project form #operations dl,
.admin #content #main-menu .edit-project form #operations dl {
  position: relative;
  top: 10px;
}

.admin #content #main-menu .new-project form #operations label,
.admin #content #main-menu .edit-project form #operations label {
  position: relative;
  top: 5px;
  left: 15px;
}

.admin #content #main-menu .new-project form input[type="submit"],
.admin #content #main-menu .edit-project form input[type="submit"] {
  background-color: #2bb673;
  font-size: 1rem;
  width: auto;
  padding: 12px 50px;
  position: relative;
  top: 10px;
}

.admin #content .dashboard-main .dashboard-main-header {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.admin #content .dashboard-main .dashboard-main-header h2 {
  display: inline-block;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.admin #content .dashboard-main .dashboard-main-header .last-login {
  display: block;
  color: #a7a9ac;
  position: relative;
  bottom: 5px;
}

@media (min-width: 1030px) {
  .admin #content .dashboard-main .dashboard-main-header .last-login {
    display: inline;
    margin-left: 20px;
  }
}

.admin #content .dashboard-main .dashboard-main-inner a {
  text-decoration: none;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-1 .dashboard-link:hover {
  background: #2a4a55;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-1 .dashboard-link img:before {
  background: url("../images/create.svg") no-repeat center;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-2 .dashboard-link:hover {
  background: #2a4a55;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-2 .dashboard-link img:before {
  background: url("../images/rocket-green.svg") no-repeat center;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-3 .dashboard-link:hover {
  background: #2a4a55;
}

.admin #content .dashboard-main .dashboard-main-inner .unit-3 .dashboard-link img:before {
  background: url("../images/preview.svg") no-repeat center;
}

.admin #private-footer {
  background-color: #414042;
  border-top: 0px;
}

.pagination-container {
  border-top: 3px solid #fff;
}

.pagination-container .showing-pages {
  color: #fff;
  line-height: 2.5;
}

@media (min-width: 450px) {
  .pagination-container .showing-pages {
    float: left;
  }
}

.pagination-container .showing-pages .number {
  font-weight: 700;
}

@media (min-width: 450px) {
  .pagination-container .pagination {
    float: right;
  }
}

.pagination-container .pagination .page-item a {
  background: transparent;
  color: #fff;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(65, 64, 66, 0.7);
  padding-top: 50px;
}

.modal .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.modal .modal-content {
  background-color: #393e46;
  margin: 5% auto 15% auto;
  border: 0px;
  width: 80%;
  color: #fff;
  float: none;
  border-radius: 0px;
}

@media (min-width: 768px) {
  .modal .modal-content {
    width: 50%;
  }
}

.modal .modal-content .container {
  padding: 40px 20px;
  text-align: center;
}

.modal .modal-content .container h3 {
  letter-spacing: 1px;
  font-weight: 300;
  background-color: transparent;
}

.modal .modal-content .container button {
  border: 0px;
  color: #fff;
  padding: 10px 40px;
  border-radius: 2px;
  margin: 0px 20px;
  cursor: pointer;
}

.modal .modal-content .container button.cancelbtn {
  background-color: #626366;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .modal .modal-content .container button.cancelbtn {
    margin-bottom: 0px;
  }
}

.modal .modal-content .container button.confirm-delete-project {
  background-color: #c70000;
}

form {
  overflow: hidden;
  float: left;
  width: 100%;
}

form li {
  padding: 20px;
}

form li label {
  font-size: 150%;
  font-weight: 700;
}

form input[type="text"] {
  display: block;
  border: none;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  background-color: aliceblue;
  outline: 2px solid #acacac;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 60%;
}

form input[type="text"]:hover {
  outline: 2px solid #000;
}

form textarea {
  display: block;
  width: 80%;
  height: 300px;
  background-color: aliceblue;
  outline: 2px solid #acacac;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 10px;
  font-size: 150%;
}

form textarea:hover {
  outline: 2px solid #000;
}

form input[type="submit"] {
  color: #FFF;
  background-color: black;
  padding: 10px;
  letter-spacing: 1px;
  border: none;
  font-size: 1.5em;
}

form input[type="submit"]:hover {
  color: black;
  background-color: #999999;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form :focus {
  outline: none;
}

form p.errors::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  margin-top: -30px;
  margin-left: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #454545;
}

form #success {
  background-color: #778c82;
  outline: 10px solid #000;
  padding: 10px;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  text-align: center;
}

form #success h2 {
  font-size: 3rem;
  font-weight: 700;
}

form #success p {
  outline: 5px solid #000;
  background-color: #b7c2d6;
  font-weight: 700;
  line-height: 1.5;
}

form #success-overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

form #close-button {
  position: absolute;
  width: 32px;
  height: auto;
  padding: 10px;
  top: 0;
  right: 0;
  cursor: pointer;
  border-left: 8px solid;
  border-bottom: 8px solid;
  background-color: aliceblue;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

form #close-button:hover {
  filter: brightness(50%);
}

.login #site-header {
  display: none;
}

.login .login-page h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.login .login-page #login {
  margin: 0 auto 80px;
  float: none;
  width: 80%;
  text-align: center;
  background-color: #414042;
  border: 1px solid #e6e7e8;
  padding: 40px 0px;
  max-width: 500px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1030px) {
  .login .login-page #login {
    width: 40%;
  }
}

.login .login-page #login .icon {
  max-width: 96px;
}

.login .login-page #login h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2;
  margin: 20px 0px;
  letter-spacing: 2px;
}

.login .login-page #login .alert {
  font-size: 0.9rem;
}

.login .login-page #login .form-container {
  padding: 0px 40px;
}

.login .login-page #login .form-container label {
  color: #fff;
  display: none;
}

.login .login-page #login .form-container input[type="text"] {
  background: #fff url("../images/user.svg") no-repeat scroll 8px 8px;
  background-size: 25px;
}

.login .login-page #login .form-container input[type="password"] {
  background: #fff url("../images/lock.svg") no-repeat scroll 8px 8px;
  background-size: 25px;
}

.login .login-page #login .form-container input {
  display: initial;
  border: none;
  height: auto;
  font-size: 13px;
  padding: 12px 10px 10px 40px;
  background-color: #fff;
  outline: none !important;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  border: 1px solid #767676;
}

.login .login-page #login input[type="submit"] {
  background-color: #2bb673;
  border-radius: 3px;
  font-size: 1rem;
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  width: auto;
}

.login .login-page #login .logged-out {
  padding: 0px 40px;
  margin-top: 20px;
}

.login footer {
  border-top: 0px;
  background-color: transparent;
}

.login footer #footer-wrapper h4 {
  font-size: 1rem;
}