$darkGrey: #151414;
$lightGrey: #b7c2d6;
$mainBGBlue: #293744;

$svgGreen:  #2bb673;

$adminGrey: #6d6e71;
$adminDarkGrey: #414042;
$adminDashboardGrey: #192c33;
$adminRed:      #c70000;
$uploadBlue:    #1f95ea;
$adminCancelGrey:      #626366;
$statusGreen: #32ab40;
$statusOrange: #f6881b;